In [2]:
print (" Hello Gitam")

 Hello Gitam

In [3]:
print('Hello world')

Hello world

In [4]:
print('Hello Gitam', ' ||| ',end=' ')
print('Vizag')

Hello Gitam  |||  Vizag

In [5]:
print('Hello Gitam',' ||| ')
print('Vizag')

Hello Gitam  |||
Vizag

In [3]:
#TYPES OF COMMENTS     // single line comment
'''
1.single line comment // multi line comment
2. multi line comment
'''
print("# single line comment")
print("''' multi line comment ''' ")

# single line comment
''' multi line comment '''

In [6]:
'''
shift+ enter:: exec. and moves to next cell
cntrl+ enter:: just gets exec.
markdown
'''

'\nshift+ enter:: exec. and moves to next cell\ncntrl+ enter:: just gets exec.\nmarkdown\n'

 # python programming and Markdown

## python programming and Markdown

### Python Programming And Markdown

## python programming
- point 1
    - point 1.1
- point 2
    - point 2.1
- point 3
    - point 3.1

##### shift+enter, - point1 , for subpoint

* **point1** (bold)
* *point* (italic)
* ***point*** (bold and italic)

In [7]:
# how to add links and images

In [1]:
# <img src = "python.png"/>   the image source file must be  in problem solving andprogramming folder on desktop (jupyter notebook)

<img src= 'python.png' />

In [9]:
# cntrl+entern same cell
# shift + enter nxt cell

## Data types and data type conversion
- int
- float
- string

In [12]:
a = 100
print (a)
print(type(a))

100
<class 'int'>

In [7]:
a=100000000000000000000000
s="python"
s1='programming'
b= 12.3456
print(a)
print(s)
print(s1)
print(b)
print(type(a))
print(type(s))
print(type(s1))
print(type(b))

100000000000000000000000
python
programming
12.3456
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>

In [20]:
# google colab similar to jupyter notebook

## data type convertion
- int() converts the input into int type
- float() converts the input into float type
- str() converts the input into string type

In [19]:
a=100
print(a,end=" ")
print (type(a))
s1= str(a) # converts int to string format
print(s1, end=" ")
print(type(s1))

100 <class 'int'>
100 <class 'str'>

In [26]:
s2="100.123"
print(s2,end=" ")
print (type(s2))
a1= float (s2)# float() func converts input into float
print(a1,end=" ")
print(type(a1))
a2= int(a1) # int() function converts input to int
print(a2, end=" ")
print(type(a2))

100.123 <class 'str'>
100.123 <class 'float'>
100 <class 'int'>

# digit count of a number
- len(str(a))

In [27]:
a=12345
print(len(str(a)))

5

## add link
google site-[google](www.google.com)

<a href="www.google.com">google</a>

In [28]:
#<a href="www.google.com">google</a>
# [google](www.google.com)

## input () function
- Read the input to the python
- Reads the input in terms of string format

In [8]:
s1 = input('enter your name : ')
print(s1,type(s1))

enter your name : siva shankar
siva shankar <class 'str'>

In [9]:
a1 = int(input('enter a number : '))
print(a1,type(a1))

enter a number : 5
5 <class 'int'>

<img src="download.jpg"/>

## operators
- (+)addition 
- (-) substraction
- (*) multiplication
- (**) power
- (/ )division
- (//) division without decimal point

In [31]:
# preceding levels of operators
# power, division , addition
x = 1 + 2**3 / 4 + 5
print(x)

8.0

In [32]:
2+3

5

In [33]:
3-1

2

In [34]:
4*5

20

In [35]:
4**2

16

In [36]:
4/3

1.3333333333333333

In [37]:
4//3

1

In [12]:
5 % 2

1

## Logical Operators
- and
- or
- not

In [11]:
a=10
b= (a>9) or (a>=10)
print(b,type(b))
b= (a>9) and (a>100)
print(b,type(b))
# boolean function that is the output will be 0//1 or else true//false

True <class 'bool'>
False <class 'bool'>

In [13]:
a = True
print( not a)

False

## Control FLow Statements
- conditional statements
    - if-else
- looping statements
    - while
    - for

In [41]:
'''
read a number as input
print the output as even r odd
'''
a1= int(input(' '))
if a1%2== 0:
    print('even')
else:
    print('odd')

 29
odd

In [44]:
'''
read a number as input
print the output  as zero , positive r negative number
'''
a2=int(input(' '))
if a2 == 0:
    print('zero')
elif a2> 0:
    print('positive number')
elif a2 < 0:
    print('Negative number')

 0
zero

<img src="download.jpg"/>